.button {
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 9px;
}

.controls > * {
    margin: 16px 8px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.flex-item {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;;
}

.gradient {
    width: 300px;
    height: 600px;
    border: 1px solid black;
    background: repeating-linear-gradient(red 30px, blue 60px);
}

p span {
    color: red;
}